on:
  push:
    branches:
      - main
  pull_request:

name: main
jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - name: Flake check
        run: |
          nix flake check

      - name: Shell build linux
        run: |
          nix build .#devShells.x86_64-linux.default
